@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shape-divider-bottom-1653148595 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1653148595 svg {
  position: relative;
  display: block;
  width: calc(171% + 1.3px);
  height: 223px;
}

.custom-shape-divider-bottom-1653148595 .shape-fill {
  fill: white;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .custom-shape-divider-bottom-1653148595 svg {
    width: calc(270% + 1.3px);
    height: 282px;
  }
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1653148595 svg {
    width: calc(300% + 1.3px);
    height: 160px;
  }
}
